5 June 2022
Credit: [KongRuksiam Official](https://www.youtube.com/watch?v=YXNwADEE3EU)

# Intro OOP

In [10]:
#ชื่อ, เงินเดือน

class Employee:
  
  def detail(self,name,salary,department):
    self.name = name
    self.salary = salary
    self.department = department
  def showdata(self):
    print("ชื่อพนักงาน : {}".format(self.name))
    print("เงินเดือน : {}".format(self.salary))
    print("เงินเดือน : {}".format(self.department))

obj1 = Employee()
obj1.detail("ก้อง",50000,"บัญชี")

obj2 = Employee()
obj2.detail("โจโจ้", 40000,"โปรแกรมเมอร์")

obj3 = Employee()
obj3.detail("นัท", 100000,"ผู้จัดการ")

obj1.showdata()
obj2.showdata()
obj3.showdata()

ชื่อพนักงาน : ก้อง
เงินเดือน : 50000
เงินเดือน : บัญชี
ชื่อพนักงาน : โจโจ้
เงินเดือน : 40000
เงินเดือน : โปรแกรมเมอร์
ชื่อพนักงาน : นัท
เงินเดือน : 100000
เงินเดือน : ผู้จัดการ

## Constructure and Deconstructure

In [22]:
#ชื่อ, เงินเดือน

class Employee:

  def __init__(self,name,salary,department):
    self.name = name
    self.salary = salary
    self.department = department

  def showdata(self):
    print("ชื่อพนักงาน : {}".format(self.name))
    print("เงินเดือน : {}".format(self.salary))
    print("เงินเดือน : {}".format(self.department))

  def __del__(self):
    print("Call Destructure")
 
obj1 = Employee("ก้อง", 200000,"บัญชี")
obj1.salary = 700000
obj1.showdata()
obj2 = Employee("โจโจ้", 40000,"โปรแกรมเมอร์")
obj2.showdata()
obj3 = Employee("นัท", 100000,"ผู้จัดการ")
obj3.showdata()
# obj1.showdata()
# obj2.showdata()
# obj3.showdata()

ชื่อพนักงาน : ก้อง
เงินเดือน : 700000
เงินเดือน : บัญชี
ชื่อพนักงาน : โจโจ้
เงินเดือน : 40000
เงินเดือน : โปรแกรมเมอร์
ชื่อพนักงาน : นัท
เงินเดือน : 100000
เงินเดือน : ผู้จัดการ

#Check OOP

In [25]:
#ชื่อ, เงินเดือน

class Employee:

  def __init__(self,name,salary,department):
    self.name = name
    self.salary = salary
    self.department = department

  def showdata(self):
    print("ชื่อพนักงาน : {}".format(self.name))
    print("เงินเดือน : {}".format(self.salary))
    print("เงินเดือน : {}".format(self.department))

  def __del__(self):
    print("Call Destructure")
 
obj1 = Employee("ก้อง", 200000,"บัญชี")
obj2 = Employee("โจโจ้", 40000,"โปรแกรมเมอร์")
obj3 = Employee("นัท", 100000,"ผู้จัดการ")

#isinstance(obj1,Employee)
#dir(obj1)
obj1.__class__

__main__.Employee

## Protected

In [34]:
#ชื่อ, เงินเดือน

class Employee:

  def __init__(self,name,salary,department):
    self._name = name
    self._salary = salary
    self._department = department
    self._showdata()

  def _showdata(self):
    print("ชื่อพนักงาน : {}".format(self._name))
    print("เงินเดือน : {}".format(self._salary))
    print("เงินเดือน : {}".format(self._department))

 
obj1 = Employee("ก้อง", 200000,"บัญชี")
obj1.salary = 50000
#obj1._showdata()

ชื่อพนักงาน : ก้อง
เงินเดือน : 200000
เงินเดือน : บัญชี

In [37]:
#ชื่อ, เงินเดือน

class Employee:

  def __init__(self,name,salary,department):
    self._name = name
    self.__salary = salary
    self.__department = department
    self.__showdata()

  def __showdata(self):
    print("ชื่อพนักงาน : {}".format(self._name))
    print("เงินเดือน : {}".format(self.__salary))
    print("เงินเดือน : {}".format(self.__department))

 
obj1 = Employee("ก้อง", 200000,"บัญชี")
obj1.salary = 50000
#obj1._showdata()

ชื่อพนักงาน : ก้อง
เงินเดือน : 200000
เงินเดือน : บัญชี

#Setter and Getter

In [49]:
#ชื่อ, เงินเดือน

class Employee:

  def __init__(self,name,salary,department):
    self.__name = name
    self.__salary = salary
    self.__department = department
    #self._showdata()

  def _showdata(self):
    print("ชื่อพนักงาน : {}".format(self.__name))
    print("เงินเดือน : {}".format(self.__salary))
    print("เงินเดือน : {}".format(self.__department))

# Setter
  def setName(self,newname):
    self.__name = newname

  def setSalary(self,newsalary):
    self.__salary = newsalary

  def setNewDepartment(self,newdepartment):
    self.__department = newdepartment
 
obj1 = Employee("ก้อง", 200000,"บัญชี")
obj1.setName("โจโจ้")
obj1.setSalary(30000)
obj1.setNewDepartment("ฝ่ายขาย")
obj1._showdata()

ชื่อพนักงาน : โจโจ้
เงินเดือน : 30000
เงินเดือน : ฝ่ายขาย

In [56]:
#ชื่อ, เงินเดือน

class Employee:

  def __init__(self,name,salary,department):
    self.__name = name
    self.__salary = salary
    self.__department = department
    #self._showdata()

  def _showdata(self):
    print("ชื่อพนักงาน : {}".format(self.getName()))
    print("เงินเดือน : {}".format(self.getSalary()))
    print("เงินเดือน : {}".format(self.getDepartment()))


  def setName(self,newname):
    self.__name = newname

  def setSalary(self,newsalary):
    self.__salary = newsalary

  def setNewDepartment(self,newdepartment):
    self.__department = newdepartment

# Getter
  def getName(self):
    return self.__name

  def getSalary(self):
    return self.__salary


  def getDepartment(self):
    return self.__department

 
obj1 = Employee("ก้อง", 200000,"บัญชี")

obj1._showdata()

ชื่อพนักงาน : ก้อง
เงินเดือน : 200000
เงินเดือน : บัญชี

## Class Variable and Instance Variable

In [67]:
#ชื่อ, เงินเดือน

class Employee:

  __minSalary = 12000
  __maxSalary = 50000
  __compaynyName = "บริษัท XYZ จำกัด"
  def __init__(self,name,salary,department):
    self.__name = name
    self.__salary = salary
    self.__department = department
    #self._showdata()

  def _showdata(self):
    print("ชื่อพนักงาน : {}".format(self.__name))
    print("เงินเดือน : {}".format(self.__salary))
    print("แผนก : {}".format(self.__department))

 
obj1 = Employee("ก้อง", 200000,"บัญชี")

#print(Employee.__minSalary)

In [85]:
#ชื่อ, เงินเดือน

class Employee:

  minSalary = 12000
  maxSalary = 50000
  compaynyName = "บริษัท XYZ จำกัด"
  def __init__(self,name,salary,department):
    self.__name = name
    self.__salary = salary
    self.__department = department
    #self._showdata()

  def _showdata(self):
    print("ชื่อพนักงาน : {}".format(self.__name))
    print("เงินเดือน : {}".format(self.__salary))
    print("แผนก : {}".format(self.__department))
    
class Accounting(Employee):
  __departmentName = "แผนกบัญชี"
  def __init__(self):
    pass

class Programmer(Employee):
  __departmentName = "แผนกพัฒนาระบบ"
  def __init__(self):
    pass

class Sale(Employee):
  __departmentName = "ฝ่ายขายสินค้า"
  def __init__(self):
    pass
account = Accounting()
print(Accounting.compaynyName)

programmer = Programmer()
print(programmer.minSalary)

sale = Sale() 
print(Employee.compaynyName)

บริษัท XYZ จำกัด
12000
บริษัท XYZ จำกัด

## Super

In [90]:
#ชื่อ, เงินเดือน

class Employee:

  minSalary = 12000
  maxSalary = 50000
  compaynyName = "บริษัท XYZ จำกัด"
  def __init__(self,name,salary,department):
    self.__name = name
    self.__salary = salary
    self.__department = department
    self._showdata()

  def _showdata(self):
    print("ชื่อพนักงาน : {}".format(self.__name))
    print("เงินเดือน : {}".format(self.__salary))
    print("แผนก : {}".format(self.__department))

class Accounting(Employee):
  __departmentName = "แผนกบัญชี"
  def __init__(self,name,salary):
    super().__init__(name,salary,self.__departmentName)

class Programmer(Employee):
  __departmentName = "แผนกพัฒนาระบบ"
  def __init__(self,name,salary):
    super().__init__(name,salary,self.__departmentName)

class Sale(Employee):
  __departmentName = "ฝ่ายขายสินค้า"
  def __init__(self,name,salary):
    super().__init__(name,salary,self.__departmentName)

account = Accounting("ก้อง",12000)
#account._showdata()

programmer = Programmer("โจโจ้",40000)
#programmer._showdata()

sale = Sale("นัท", 35000) 
#sale._showdata()

ชื่อพนักงาน : ก้อง
เงินเดือน : 12000
เงินเดือน : แผนกบัญชี
ชื่อพนักงาน : โจโจ้
เงินเดือน : 40000
เงินเดือน : แผนกพัฒนาระบบ
ชื่อพนักงาน : นัท
เงินเดือน : 35000
เงินเดือน : ฝ่ายขายสินค้า

## การแปลง Object เป็น String

In [99]:
#ชื่อ, เงินเดือน

class Employee:

  minSalary = 12000
  maxSalary = 50000
  compaynyName = "บริษัท XYZ จำกัด"
  def __init__(self,name,salary,department):
    self.__name = name
    self.__salary = salary
    self.__department = department
    #self._showdata()

  def _showdata(self):
    print("ชื่อพนักงาน : {}".format(self.__name))
    print("เงินเดือน : {}".format(self.__salary))
    print("แผนก : {}".format(self.__department))
    
  def _getIncome(self):
    return self.__salary*12

  def __str__(self):
    return ("ชื่อพนักงาน ={}, แผนก ={},เงินเดือน = {}, รายได้ต่อปี = {} "
    .format(self.__name,self.__name,self.__salary,self._getIncome()))

class Accounting(Employee):
  __departmentName = "แผนกบัญชี"
  def __init__(self,name,salary):
    super().__init__(name,salary,self.__departmentName)

class Programmer(Employee):
  __departmentName = "แผนกพัฒนาระบบ"
  def __init__(self,name,salary):
    super().__init__(name,salary,self.__departmentName)

class Sale(Employee):
  __departmentName = "ฝ่ายขายสินค้า"
  def __init__(self,name,salary):
    super().__init__(name,salary,self.__departmentName)

account = Accounting("ก้อง",10000)
#print("รายได้ต่อปี ={}".format(account._getIncome()))
#account._showdata()
print(account.__str__())

programmer = Programmer("โจโจ้",40000)
#print("รายได้ต่อปี ={}".format(programmer._getIncome()))
#programmer._showdata()
print(programmer.__str__())

sale = Sale("นัท", 35000) 
#print("รายได้ต่อปี ={}".format(sale._getIncome()))
#sale._showdata()
print(sale.__str__())

ชื่อพนักงาน =ก้อง, แผนก =ก้อง,เงินเดือน = 10000, รายได้ต่อปี = 120000
ชื่อพนักงาน =โจโจ้, แผนก =โจโจ้,เงินเดือน = 40000, รายได้ต่อปี = 480000
ชื่อพนักงาน =นัท, แผนก =นัท,เงินเดือน = 35000, รายได้ต่อปี = 420000

## Overloading Methond

In [20]:
#ชื่อ, เงินเดือน

class Employee:

  minSalary = 12000
  maxSalary = 50000
  compaynyName = "บริษัท XYZ จำกัด"
  def __init__(self,name,salary,department):
    self.__name = name
    self.__salary = salary
    self.__department = department
    #self._showdata()

  def _showdata(self):
    print("ชื่อพนักงาน : {}".format(self.__name))
    print("เงินเดือน : {}".format(self.__salary))
    print("แผนก : {}".format(self.__department))

  # def _getIncome(self):
  #   return self.__salary*12
  
  def _getIncome(self,bonus=0):
    return (self.__salary*12 + bonus)

  def __str__(self):
    return ("ชื่อพนักงาน ={}, แผนก ={},เงินเดือน = {}, รายได้ต่อปี = {} "
    .format(self.__name,self.__name,self.__salary,self._getIncome()))

class Accounting(Employee):
  __departmentName = "แผนกบัญชี"
  def __init__(self,name,salary,age):
    super().__init__(name,salary,self.__departmentName)
    self.__age = age

  def _showdata(self):
    super()._showdata()
    print("อายุ : {}".format(self.__age))
    print("############")

  def __str__(self):
    return (super().__str__() + ",อายุ = {} ปี".format(self.__age))

class Programmer(Employee):
  __departmentName = "แผนกพัฒนาระบบ"
  def __init__(self,name,salary,experience,skill):
    super().__init__(name,salary,self.__departmentName)
    self.__exp = experience
    self.__skill = skill

  def _showdata(self):
    super()._showdata()
    print("ประสบการณ์ : {}".format(self.__exp))
    print("ทักษะ : {}".format(self.__skill))
    print("############")

  def __str__(self):
    return (super().__str__() + ",ประสบการณ์ = {} ปี, ทักษะ = {}".format(self.__exp,self.__skill))

class Sale(Employee):
  __departmentName = "ฝ่ายขายสินค้า"
  def __init__(self,name,salary,area):
    super().__init__(name,salary,self.__departmentName)
    self.__area = area

  def _showdata(self):
    super()._showdata()
    print("พื้นที่รับผิดชอบ : {}".format(self.__area))
    print("############")

  def __str__(self):
    return (super().__str__() + ",พื้นที่รับผิดชอบ = {}".format(self.__area))

account = Accounting("ก้อง",10000,30)
#account._showdata()
print(account.__str__())

programmer = Programmer("โจโจ้",40000,2,"พัฒนาเกม")
#programmer._showdata()
print(programmer.__str__())

sale = Sale("นัท", 35000,"เชียงใหม่") 
#sale._showdata()
print(sale.__str__())
print(account._getIncome(5000))

ชื่อพนักงาน =ก้อง, แผนก =ก้อง,เงินเดือน = 10000, รายได้ต่อปี = 120000 ,อายุ = 30 ปี
ชื่อพนักงาน =โจโจ้, แผนก =โจโจ้,เงินเดือน = 40000, รายได้ต่อปี = 480000 ,ประสบการณ์ = 2 ปี, ทักษะ = พัฒนาเกม
ชื่อพนักงาน =นัท, แผนก =นัท,เงินเดือน = 35000, รายได้ต่อปี = 420000 ,พื้นที่รับผิดชอบ = เชียงใหม่
125000